{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",

  "bracketSpacing": true,
  "arrowParens": "always",

  "plugins": ["prettier-plugin-astro"],

  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": ",*.md",
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
